<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client>
            <endpoint address="http://localhost:31400/services/db.svc" binding="wsHttpBinding"
                bindingConfiguration="" contract="DatabaseService.IDatabaseService"
                name="dbg_DatabaseEndpoint" kind="" endpointConfiguration="" />
            <endpoint address="http://video-dashboard.com/services/db.svc"
                binding="wsHttpBinding" bindingConfiguration="" contract="DatabaseService.IDatabaseService"
                name="DatabaseEndpoint" />
        </client>
    </system.serviceModel>
</configuration>