<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="offlineCS" connectionString="namespace LicensingService.DatabaseService"/>
    <add name="onlineCS" connectionString="Persist Security =Info=False;server=db548058260.db.1and1.com;Initial Catalog=[db548058260]; User ID=[dbo548058260];Password=[88Master88_SQL]"/>
  </connectionStrings>
    <system.serviceModel>     
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="LicensingService.LicensingService">
                <endpoint address="" binding="basicHttpBinding" name="LicensingServiceEndpoint"
                    contract="LicensingService.ILicensingService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" name="mexEndpoint"
                    contract="IMetadataExchange" />
                <endpoint address="DatabaseService" binding="basicHttpBinding"
                    name="DatabaseServiceEndpoint" contract="LicensingService.DatabaseService.IDatabaseService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/LicensingService/LicensingService/" />
                        <add baseAddress="http://licensing.video-dashboard.com/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
